.login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100;
    margin-top: 150px;
}

.button{
    margin-top:30px;
}

.table {
    margin-top: 30px;
    max-width: 330px;
    padding: 15px;
    width: 100%;
}